body{

font-family:Arial;

text-align:center;

background:#eeeeee;

}



h1{

color:green;

}



#reader{

width:350px;

margin:auto;

}



select{

font-size:20px;

padding:10px;

}



button{

padding:10px 20px;

font-size:16px;

}



#result{

background:white;

padding:20px;

margin:20px;

border-radius:10px;

}
